.loyality-id-hidden{
    display: none;
  }

  .card-cash-payment-button-container {
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  .card-cash-payment-button-container > button {
    padding: 4px 16px;
    border: none;
    outline: none;
    background-color: #32a852;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    border-radius: 6px;
  }