.billing-history-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.billing-history-card {
    margin: auto;
    width: 300px;
    background-color: #e9e2e2;
    border-radius: 8px;
    padding: 8px;

}

.billing-history-card-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.billing-history-card-child > p:first-child {
    font-weight: 600;
}

.billing-history-card-child > button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 2px 8px;
    font-size: 16px;
    border-radius: 4px;
    margin: auto;
}