.add-supplier-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-supplier-container>button {
    padding: 4px 16px;
    border: none;
    font-size: 18px;
    text-transform: capitalize;
    background-color: #503c6c;
    color: #fff;
    border-radius: 6px;
}

.add-supplier-container>button:active {
    box-shadow: 1px 1px 5px #000 inset;
}

.info-supplier-container {
    margin: 16px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    
}

.supplier-card {
    width: 300px;
    background-color: #bfbfbf;
    color: #000;
    padding: 4px 8px;
    border-radius: 8px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border: solid 3px #000;
}

.supplier-card-child {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 16px;
}

.supplier-card-child>p:first-child {
    font-weight: 600;
}

.supplier-card-edit-info-button {
    margin: auto;
    display: flex;
    justify-content: center;
    border: none;
    padding: 2px 8px;
    font-size: 16px;
    font-weight: 600;
    background-color: #000;
    color: #fff;
    border-radius: 4px;
}